<main class="container">
	<div class="h1 text-center" id="pageHeaderTitle">HOT WHEELS: CAR LIST</div>

		<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
	</div>

	<br>

<% @cars.each do |car| %>
	<div class="postcard blue">
		<a class="postcard__img_link" href="#">
			<img class="postcard__img" src="<%= car.photo%>" alt="Image Title" />
		</a>
		<div class="postcard__text">
			<h1 class="postcard__title blue">
			<a href="<%=car_path(car.id)%>"><%=car.brand%>&nbsp;<%=car.model%>&nbsp;<%=car.year%></a>
			</h1>
			<div class="postcard__subtitle small">
			</div>
			<div class="postcard__bar"></div>
			<div class="postcard__preview-txt">Description: this car is from YEAR, BRAND, ESPECIFICATIONS...</div>
			<ul class="postcard__tagbox">
				<li class="tag__item "><a href="#"><i class="fas fa-car mr-2"></i>Rent me</a></li>
				<li class="tag__item"><i class="fas fa-map-marker-alt mr-2"></i>Location</li>
			</ul>
		</div>
	</div>
	<% end %>

</main>