<div class="container justify-content-center">

<div class="row p-3 m-5 w-75 mx-auto postcard blue">
<div class="col-12">
<h1>Add your car</h1>
<%= simple_form_for([@car]) do |f| %>
  <%= f.input :title, placeholder: "Model, brand, year" %><br>
  <%= f.input :model, placeholder: "Model" %><br>
  <%= f.input :brand, placeholder: "Describe your car" %><br>
  <%= f.input :year, placeholder: "Describe your car" %><br>
  <%= f.input :location, placeholder: "Describe your car" %><br>
  <%= f.input :price, placeholder: "Describe your car" %><br>
  <%= f.input :description, placeholder: "Describe your car" %><br>
  <%= f.input :photo, as: :file %><br>
  <%= f.submit %>
<% end %>
</div>
</div>
</div>