<div class="container-fluid">

<div class="row justify-content-center p-3 m-5 postcard blue">

<div class="col-6 ">
<h1>ADD YOUR CAR</h1>
<%= simple_form_for([@car]) do |f| %>
  <%= f.input :title, placeholder: "Model, brand, year", class: "form-control form-btn" %>
  <%= f.input :model, placeholder: "Model", class: "form-control form-btn" %>
  <%= f.input :brand, placeholder: "What brand is your car?", class: "form-control form-btn" %>
  <%= f.input :year, placeholder: "Year", class: "form-control form-btn" %>
  <%= f.input :location, placeholder: "Where its located", class: "form-control form-btn" %>
  <%= f.input :price, placeholder: "$999.00", class: "form-control form-btn" %>
  <%= f.input :description, placeholder: "Describe your car", class: "form-control form-btn" %>
  <%= f.submit :Add, class: "btn btn btn-dark " %>
<% end %>
</div>
</div>
</div>