<!DOCTYPE html>
<html>
  <head>
    <title>HotWheels</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
  <div class="d-flex p-1">
    <div class="inp-cont">
      <form class="navbar-container d-flex flex-row p-1" action="">
        <input class="form-control border-dark rounded-pill m-1" type="text" value="Brand" id="s-input" />
        <input class="form-control border-dark rounded-pill m-1" type="text" value="Model" id="s-input" />
        <input class="form-control border-dark rounded-pill m-1" type="date" value="First day" id="s-input" />
        <input class="form-control border-dark rounded-pill m-1" type="date" value="Last day" id="s-input" />
        <button id="s-btn" class="btn btn-outline-dark btn-lg rounded-pill " type="button">
          <i class="fa fa-search"></i>
        </button>
    </div>
    </form>
    <button type="sign-btn" class="btn btn-dark p-0">Sign Up</button>
  </div>



  <%= yield %>
  <div class="footer">
    <div class="container-fluid bg-foot mb-4 mt-4">
      <div class="row d-flex align-items-center">
        
        <div class="col-2 align-middle d-table-cell align-middle" >
          <p class="copy" id="left-copy">&copy; HotWheels 2021</p>  </div>
       
        <div class="col-2 align-middle my-auto d-table-cell align-middle" >
        <p><button type="button"
            class="btn btn-secondary btn-lg btn-footer" id="home-btn">Home Page</button></p></div>
       
        <div class="col-2 align-middle my-auto d-table-cell align-middle">
            <p>
            <button type="button" class="btn btn-secondary btn-lg btn-footer" id="contact-btn">Contact Us</button></p></div>

             <div class="col-2 align-middle d-table-cell align-middle" id="about-btn"> <p>
            <button type="button" class="btn btn-secondary btn-lg btn-footer" id="contact-btn">About us</button></p></div>

         <div class="col-2 align-middle d-table-cell align-middle" id="empty">
       
          <br><br>
        </div>
     
   <div class="col-2 align-middle d-table-cell align-middle" id="social">
          <%=image_tag("social-media.jpg", alt: "social media logo")%>
          <br><br>
        </div>

    </div>
  </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  </body>
</html>
