<!DOCTYPE html>
<html>

<head>
  <title>HotWheels</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
</head>

<body>
  <div class="navbar navbar-expand-lg">
    <div class="inp-cont">
      <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
     
    <form class="form-inline">
      <div class="form-group mb-2">
        <input class="form-control border-dark rounded-pill m-1" style="background-color: #D3D3D3" type="text" value="Brand" >
        <input class="form-control border-dark rounded-pill m-1" style="background-color: #D3D3D3" type="text" value="Model">
        <input class="form-control border-dark rounded-pill m-1" style="background-color: #D3D3D3" type="date" value="First day" >
        <input class="form-control border-dark rounded-pill m-1 mr-2" style="background-color: #D3D3D3" type="date" value="Last day">
        <button id="s-btn" style="background-color: #D3D3D3" class="btn btn-outline-dark btn-lg rounded-pill " type="button">
          <i class="fa fa-search  l-2"></i>
        </button>
    </div>
    </div>  </div>
    </div>
    <button type="add-btn" class="btn btn-dark">Add Car</button>
    <button type="sign-btn" class="btn btn-dark">Sign Up</button>
  </div>



  <%= yield %>
  <div class="footer">
    <div class="container-fluid bg-foot mb-4 mt-4">
      <div class="row d-flex align-items-center">
        
        <div class="col-2 align-middle d-table-cell align-middle" >
          <p class="copy" id="left-copy">&copy; HotWheels 2021</p>  </div>
       
        <div class="col-2 align-middle my-auto d-table-cell align-middle" >
        <p><button type="button"
            class="btn btn-secondary btn-lg btn-footer" id="home-btn">Home Page</button></p></div>
       
        <div class="col-2 align-middle my-auto d-table-cell align-middle">
            <p>
            <button type="button" class="btn btn-secondary btn-lg btn-footer" id="contact-btn">Contact Us</button></p></div>

             <div class="col-2 align-middle d-table-cell align-middle" id="about-btn"> <p>
            <button type="button" class="btn btn-secondary btn-lg btn-footer" id="contact-btn">About us</button></p></div>

         <div class="col-2 align-middle d-table-cell align-middle" id="empty">
       
          <br><br>
        </div>
     
   <div class="col-2 align-middle d-table-cell align-middle" id="social">
          <%=image_tag("social-media.jpg", alt: "social media logo")%>
          <br><br>
        </div>

    </div>
  </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  </body>
</html>
